@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

@font-face {
  font-family: "pacifico";
  src: url("./utils/fonts/Pacifico/Pacifico-Regular.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "mulish";
  src: url("./utils/fonts/Mulish/Mulish-VariableFont_wght.ttf");
}

@font-face {
  font-family: "inspiration";
  src: url("./utils/fonts/Inspiration/Inspiration-Regular.ttf");
}

@font-face {
  font-family: "serifPro";
  src: url("./utils/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf");
}

@font-face {
  font-family: "yanone";
  src: url("./utils/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf");
}

@font-face {
  font-family: "satisfy";
  src: url("./utils/fonts/Satisfy/Satisfy-Regular.ttf");
}
